:root {
    --oscuro: #292929;
    --amarillo: #fbc944;
    --rojo: #ea584a;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

h1,
h2,
h3 {
    margin: 0;
    font-family: 'Libre Baskerville', serif;
}

.hero {
    background-color: white;
    background-size: cover;
    height: 100vh;
    margin: 0;
    margin-top: 4rem;
}

.img-hero {
    margin: 0 auto;
    max-width: 100%;
    display: block;
    position: relative;
    z-index: 1;
}

.slogan {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    border-style: solid;
}

.slogan h1 {
    color: var(--oscuro);
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Libre Baskerville', serif;
}

.slogan p {
    color: var(--rojo);
    font-size: 3.5rem;
    margin: 1.5rem;
    font-family: 'Lato', sans-serif;
}

.yellow-div {
    background-color: var(--amarillo);
    height: 5vh;
    position: absolute;
    top: 50vh;
    width: 100%;
}