:root {
    --oscuro: #292929;
    --amarillo: #fbc944;
    --rojo: #ea584a;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

h2 {
    font-size: 3.5rem;
}

.hero {
    background-image: url(../img/hero2.jpg);
    filter: blur(0px);
    background-size: cover;
    height: 90vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.slogan {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    border: 5px solid var(--amarillo);
    border-style: solid solid solid dotted;
    border-radius: 0 0 15px 0;
    margin-top: 2rem;
    padding: 0 2rem 0 2rem;
    text-shadow: 1px 2px 3px var(--oscuro);
    background-color: rgba(0, 0, 0, .2);
}

.slogan h1 {
    color: white;
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Libre Baskerville', serif;
}

.slogan p {
    color: white;
    font-size: 3.5rem;
    margin: 1.5rem;
    font-family: 'Lato', sans-serif;
}

.awards {
    max-height: 40vh;
    margin: 0 auto;
    border-radius: 15px;
}

.navmenu-header {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    border-top: 1.5px solid var(--amarillo);
    transition: .3s ease-in-out;
}

.navmenu-header a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    transition: .3s ease-in-out;
}

.navmenu-header a:hover {
    color: var(--amarillo);
    text-shadow: 1px 2px 3px var(--oscuro);
    font-size: 2.1rem;
    transition: .3s ease-in-out;
}

#navbar {
    overflow: hidden;
}

.content {
    padding: 10vh;
}

.sticky-add {
    height: 0;
    transition: 1s ease-in-out;
}

.sticky {
    position: fixed;
    margin: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    flex-flow: row wrap;
    height: 10vh;
    transition: .5s ease-in-out;
}

.sticky+.content {
    padding-top: 4rem;
}

section {
    padding-top: 10rem;
    max-width: 1200px;
    margin: 0 auto;
}

.fix-height {
    margin-bottom: 10vh;
}


/**Our story section**/

.story-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.story-icon {
    width: 40%;
    background-color: var(--amarillo);
    margin: 2rem;
    text-align: center;
    padding: 2rem;
}

.story-icon i {
    font-size: 4rem;
}