         :root {
            --oscuro: #292929;
            --amarillo: #fbc944;
            --rojo: #ea584a;
        }
        
        html,
        body {
            max-width: 100%;
            overflow-x: hidden;
        }
        
        html {
            font-size: 62.5%;
            scroll-behavior: smooth;
        }
        
        body {
            font-size: 1.8rem;
        }
        
        h1,
        h2,
        h3,
        h4 {
            margin: 1rem;
            text-align: center;
        }
        
        h1 {
            font-family: 'Libre Baskerville', serif;
        }
        
        h2 {
            font-size: 5rem;
            font-family: 'Merienda One', cursive;
        }
        
        h3 {
            font-family: 'Lato', sans-serif;
        }
        
        p,
        legend,
        input,
        textarea,
        button {
            font-family: 'Lato', sans-serif;
        }
        
        span,
        a {
            font-family: 'Merienda One', cursive;
        }
        
        .hero {
            background-image: url(../img/hero2.jpg);
            filter: blur(0px);
            background-size: cover;
            height: 90vh;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .slogan {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
            border: 5px solid var(--amarillo);
            border-style: solid solid solid dotted;
            border-radius: 0 0 15px 0;
            margin-top: 2rem;
            padding: 0 2rem 0 2rem;
            text-shadow: 1px 2px 3px var(--oscuro);
            background-color: rgba(0, 0, 0, .2);
        }
        
        .slogan h1 {
            color: white;
            font-size: 3.5rem;
            margin-bottom: 1.5rem;
        }
        
        .slogan p {
            color: white;
            font-size: 3.5rem;
            margin: 1.5rem;
        }
        
        .awards {
            max-height: 30vh;
            margin: 1rem 3rem;
        }
        
        .header-awards {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 3rem;
            text-shadow: 1px 1px 10px var(--oscuro);
        }
        
        .header-awards p {
            margin: 1rem;
            font-family: 'Lato', sans-serif;
        }
        
        .header-awards i {
            font-size: 8rem;
            color: var(--amarillo);
        }
        
        .awards-group {
            display: flex;
            justify-content: center;
        }
        
        section {
            padding-top: 10rem;
            max-width: 1200px;
            margin: 0 auto;
        }
        
        .fix-height {
            margin-bottom: 10vh;
        }
        /**Our story section**/
        
        .our-story {
            max-width: 100%;
            background-image: url("../img/french.jpg");
            background-size: cover;
        }
        
        .story-group {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
        }
        
        .story-icon {
            width: 65%;
            margin: 2rem;
            text-align: center;
            padding: 2rem;
            border-left: 5px solid var(--oscuro);
            background-color: rgba(251, 201, 68, .3);
        }
        
        .story-icon:nth-child(2n) {
            width: 65%;
            margin: 2rem;
            text-align: center;
            padding: 2rem;
            border-right: 5px solid var(--oscuro);
            border-left: unset;
            align-self: flex-end;
        }
        
        .story-icon:last-child {
            width: 100%;
            margin: 2rem;
            text-align: center;
            padding: 2rem;
            border: unset;
            align-self: center;
            background-color: unset;
            font-size: 3rem;
        }
        
        .story-icon i {
            font-size: 4rem;
            color: var(--oscuro);
            transition: .3s ease-in-out;
        }
        
        .story-icon i:hover {
            color: var(--rojo);
            font-size: 4.5rem;
        }
        /**Menu **/
        
        .menu-cover {
            background-color: var(--oscuro);
            max-width: 100%;
            color: white;
            padding-bottom: 5rem;
        }
        
        .menu-cover h2 {
            background-color: var(--amarillo);
            color: black;
            padding: 1rem;
            margin: 0;
        }
        
        .menu-section {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 5rem;
        }
        
        .menu-subtitle i {
            color: var(--amarillo);
            font-size: 1.5rem;
        }
        
        .menu-description {
            width: 25%;
        }
        
        .menu-list {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
        
        .menu-item {
            display: flex;
            margin: 1.5rem;
            justify-content: space-between;
        }
        
        .menu-name {
            margin: 0 2rem 0 0;
        }
        
        .menu-price {
            color: var(--amarillo);
            font-size: 2rem;
        }
        
        .ad-oum {
            color: var(--rojo);
            text-align: center;
            margin: 0;
            padding: 0;
        }
        
        .social-networks a {
            padding: 1rem;
        }
        
        .active-nav {
            color: var(--amarillo) !important;
        }
        
        .active-nav+.content {
            padding-top: 4rem;
        }
        
        #awards {
            max-width: 100%;
            padding-top: 0;
        }
        
        .awards-2020 {
            width: 100%;
            display: block;
            margin: 0 auto;
        }
        
        #reviews h2 {
            color: var(--oscuro);
        }
        
        .reviews-section {
            max-width: 700px;
            margin: 0 auto;
        }
        
        .review {
            max-width: 700px;
            margin: 2rem;
            margin-bottom: 4rem;
            padding: 1rem;
        }
        
        .review p {
            text-align: justify;
        }
        
        .review span {
            font-weight: 700;
        }
        
        .review-stars {
            text-align: left;
            font-size: 2.5rem;
            color: var(--amarillo);
        }
        
        .review-stars i {
            padding: .5rem;
        }
        
        #location {
            max-width: 100%;
            margin-right: 0;
            margin-left: 0;
            background-image: url("../img/location-bg.jpg");
            background-size: cover;
            height: 100vh;
        }
        
        #location h2 {
            background-color: rgba(255, 255, 255, .5);
            padding: 2rem;
            margin-right: 0;
            margin-left: 0;
        }
        
        .site {
            max-width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: rgba(255, 255, 255, .5);
            margin-top: 30vh;
        }
        
        .site div p {
            text-align: center;
            font-size: 2.2rem;
        }
        
        .site div p i {
            font-size: 4rem;
            text-align: center;
            color: white;
            text-shadow: 1px 1px 10px var(--oscuro);
        }
        
        .contact form legend {
            text-align: center;
            margin: 0 auto;
            margin-bottom: 1rem;
        }
        
        .input-group {
            max-width: 700px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
        
        .input-group input {
            width: 100%;
            margin: .5rem;
            background-color: var(--amarillo);
            border: unset;
            padding: 1rem;
            color: var(--oscuro);
        }
        
        .input-group textarea {
            width: 100%;
            margin: .5rem;
            height: 10rem;
            background-color: var(--amarillo);
            border: unset;
            padding: 1rem;
            color: var(--oscuro);
        }
        
        .submit {
            display: block;
            text-align: center;
            margin: 1rem auto;
            background-color: var(--oscuro);
            border: unset;
            padding: 1rem;
            color: white;
            border-radius: 5px;
        }
        
        .footer {
            margin-top: 5rem;
            height: 30vh;
            background-color: var(--oscuro);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .slogan-footer {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .slogan-footer h1 {
            color: var(--amarillo);
            font-size: 2.5rem;
        }
        
         ::-webkit-scrollbar {
            display: none;
        }
        
        @media (min-width:781px) {
            .display-menu {
                display: none;
            }
            .navmenu-header {
                height: 10vh;
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: black;
                border-top: 1.5px solid var(--amarillo);
                transition: .3s ease-in-out;
            }
            .navmenu-header a {
                text-decoration: none;
                color: white;
                font-size: 2rem;
                font-weight: 400;
                transition: .3s ease-in-out;
            }
            .navmenu-header a:hover {
                color: var(--amarillo);
                text-shadow: 1px 2px 3px var(--oscuro);
                font-size: 2.1rem;
                transition: .3s ease-in-out;
            }
            #navbar {
                overflow: hidden;
            }
            .content {
                padding: 10vh;
            }
            .sticky-add {
                height: 0;
                transition: 1s ease-in-out;
            }
            .sticky {
                position: fixed;
                margin: 0;
                top: 0;
                left: 0;
                z-index: 99;
                width: 100%;
                flex-flow: row wrap;
                height: 10vh;
                transition: .5s ease-in-out;
            }
            .sticky+.content {
                padding-top: 4rem;
            }
        }
        
        @media (max-width:1024px) {
            /**Menu **/
            .menu-section {
                flex-direction: column;
            }
            .menu-description {
                width: 50%;
            }
            .menu-image {
                max-width: 400px;
                margin: 0 auto;
            }
        }
        
        @media (max-width:780px) {
            h2 {
                font-size: 3rem;
            }
            .header-awards {
                font-size: 1.5rem;
            }
            .slogan h1 {
                font-size: 1.5rem;
            }
            .slogan p {
                font-size: 2rem;
            }
            .menu-description {
                width: 90%;
            }
            .site div p {
                font-size: 1.6rem;
            }
            .site div p i {
                font-size: 4rem;
            }
            .menu-image {
                max-width: 250px;
                margin: 0 auto;
            }
            .hero {
                height: 100vh;
            }
            .display-menu {
                height: 60px;
                background-color: rgba(0, 0, 0, .7);
                display: flex;
                justify-content: flex-end;
                align-items: center;
                position: fixed;
                top: 0;
                z-index: 10;
                width: 100%;
            }
            .display-menu a {
                font-size: 3rem;
                color: var(--amarillo);
                text-align: center;
                margin-right: 2rem;
            }
            .navmenu-header {
                height: 100vh;
                position: fixed;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                text-align: center;
                width: 100%;
                top: 0;
                left: -2500px;
                z-index: 99;
                background-color: rgba(0, 0, 0, .9);
            }
            .navmenu-header a {
                color: white;
                text-decoration: none;
            }
            .navmenu-header a:hover {
                color: var(--amarillo);
                transition: .3s ease-in-out;
            }
            .show-menu {
                left: 0;
                transition: .3s ease-in-out;
            }
            .hide-menu {
                left: -2500;
                transition: .3s ease-in-out;
            }
        }